# vi stuff
.*.sw?

# Python stuff
*.pyc

# Data files
*.dat
*.csv

# Emacs temp files
.#*

# OSX Files
.DS_Store

CATKIN_IGNORE

gazebo_ros
gazebo_ros_pkgs
gazebo_msgs
gazebo_plugins
gazebo_ros_control
CONTRIBUTING.md
.travis.yml
dvrk_gazebo_control/src/RL_agent.py
