<?xml version="1.0" ?>
<robot name="master" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find dvrk_model)/PSM/psm.urdf.xacro"/>
<xacro:include filename="$(find dvrk_model)/ECM/ecm.urdf.xacro"/>
<xacro:include filename="$(find dvrk_model)/Tool_LND/tool_lnd.urdf.xacro"/>

<link name="world"/>
<xacro:ecm parent_link="world" prefix="dvrk/ecm/" xyz=" 0 0 1" rpy="0 0 0"/>
<xacro:psm parent_link="world" prefix="dvrk/PSM1/" xyz=" 0 0 1" rpy="0 0 0"/>
<xacro:tool_lnd prefix="dvrk/PSM1/large_needle_driver/" parent_link="dvrk/PSM1/main_insertion_Link" xyz="0 0 0" rpy="0 0 0"/>
<!-- <xacro:psm parent_link="world" prefix="dvrk/PSM2/" xyz=" 0 0 1" rpy="0 0 0"/>
<xacro:tool_lnd prefix="dvrk/PSM2/large_needle_driver/" parent_link="dvrk/PSM2/main_insertion_Link" xyz="0 0 0" rpy="0 0 0"/> -->

</robot>
